.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: white;
  }


  .footer__column-link:hover{

    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.5s linear 0s;

  }